---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="The Short Version"
	description="The Short Version"
	pubDate={new Date('February 25 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Here are some things that may be of interest regarding the person behind it all. I have a mind for mathematics, and 
		a heart for philosophy. My favorite books could be supporting evidence: The Alchemist, Gorgias, and How to Lie with 
		Statistics. If you haven't read it, HTLWS is not at all advocating that one should actually lie with statistics; the 
		intention was to arm people with the ability to see through the charades often paraded around as evidence, and I 
		highly reccomend it to anyone who will listen. 
	</p>
	<p>
		I thoroughly enjoy a good hike, playing chess, and taking my camera out for a spin. I'm learning Korean, I'm a big 
		fan of the Kurtzgesagt YouTube channel, and I have a substantial sweet tooth. More relevent to my work, I have had many 
		projects in the past where I used some combination of R, Python, SQL, C++, MATLAB, and/or Haskell. For the purposes of 
		constructing this site, I've acquired a basic understanding of HTML, CSS, and a few other miscellaneous languages. 
	</p>
	<p>
		My education is rooted in Mathematics and Computer Science, I studied at Illinois Institute of Technology (IIT) and 
		graduated Suma Cum Laude in 2022 with a BS in Applied Mathematics. I was in my senior year when I studied for the first
		actuarial exam on probability, and passed on the first go. I accepted an offer at Aon in a niche field of reinsurance 
		focusing on the credit risk transfer of mortgages. I spent most of my time dealing with massive data sets, testing 
		proprietary models, and building/maintaining libraries used by the team for automating several functions. At the end 
		of 2023, a recruiter reached out to me about an opportunity in Connecticut. This was for another reinsurance broker 
		called Gallagher Re. I was asked to take on the role of a "technical broker" for their mortgage team, someone who could 
		work with clients as well as debug a script and interpret model results. I enjoyed a little over 2 years in CT before
		returning home to my beloved Chicago. 
	</p>
	<p>
		I am now looking to pivot my career away from the insurance industry, with a semi-natural transition from actuarial 
		work into a data science role. This should, in theory, be a very attainable goal as I am currently working with a mentor 
		to guide my self-driven development so that I may make shift as seemlessly as possible. In a perfect world, I would find
		a company that wants to invest in me, and have my complete my Masters as I worked. In that ideal hypothetical, I think 
		I would also be working in a positive environment with a welcoming and inclusive company culture. To that end, I will be 
		seeking out any opportunity which allows me to sharpen my wit and bolster my resume. My studies will give me the theory,
		my projects the application and experience. 
	</p>
	<p>
		Thank you for taking the time to learn a bit more about me. If you have any interest in having a chat, please reach out
		to me on LinkedIn (you can find my profile at the top or the bottom of the page). I'd love the chance to connect with 
		someone new and perhaps even collaborate on a new project together.
	</p>
	<p>
		All the best, <br> Patrick
	</p>
</Layout>
