---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 style="text-align: center; font-size: 1.7rem;">Bring your curiosity, and lets go!</h1>
			<p>
				Welcome to my official portfolio, where I explore everything from philosophical perspectives 
				in graph theory to the foundations of good data maintenance. What I show case here are tools
				that I have found useful in my career as well as my general interests, the fruit of my 
				curiosities. 
			</p>
			<p>
				While it is true, that I am calling this my professional portfolio, this site has begun to 
				serve as a place to aggregate my projects so the evidence of my work no longer falls in 
				the waste paper basket once I reach my conclusions. While I have been professionally active
				since 2022, I only decided to construct this portfolio in 2026. In the inaugural year 
				of my portfolio activities, I will be working on projects of interest that demonstrate some
				sort of representation of myself and my capabilities. As time goes on, I'm certain this 
				site will evolve as I do.
			</p>
			<p>
				If you are, by chance, finding yourself here out of shere curiosity, I hope something I've 
				done can give your creative surgence, or perhaps provide some helpful tips. 
			</p>
			<p>
				In the more likely scenario, where you are an employer, coleague, or friend to whom I have
				deliberately shared my link, I want to encourage you to look through my work with earnestly
				curious spirit. I am always hungry for questions, constructive criticisms, and points for 
				further discussion. To borrow the words claimed to be spoken by Socrates:
			</p>
			<blockquote>
				<em>
				"I am quite sure that if there ever was a man who entered on the discussion of a matter 
				from a pure love of knowing the truth, I am such a one"
				</em>
				<cite>Socrates, in Plato's "Gorgias" 458a</cite>
			</blockquote>
			<p>
			So please, take your time to preview some of my work. I look forward to the collective thoughts
			of my visitors.

			All the best,
			Patrick
			</p>
		</main>
		<Footer />
	</body>
</html>
<style>
	blockquote {
		margin: 0 0;
		text-align: center;
		font-size: 0.9em;
		border: none;
	}

	blockquote cite {
		display: block;
		margin-top: 0.5em;
		font-size: 0.8em;
		color: rgb(var(--gray));
	}
</style>
